---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, prevPost, nextPost, slug } = Astro.props;

const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleDateString(
  'en-UK',
  dateOptions
);
---

<BaseLayout frontmatter={frontmatter} prevPost={prevPost} nextPost={nextPost}>
  <section class="post content-padding h-entry">
    <h2 class="title p-name">{frontmatter.title}</h2>
    <div class="tags">
      {
        frontmatter.tags.map(tag => (
          <span class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
    <p class="postDate dt-published">
      Published: {formattedPublishDate}
    </p>
    <p class="e-content">
      <slot />
    </p>
    <a href={slug} class="u-url" style="display: none;">permalink</a>
  </section>
</BaseLayout>
