---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, prevPost, nextPost } = Astro.props;

const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleDateString(
  'en-UK',
  dateOptions
);
---

<BaseLayout frontmatter={frontmatter} prevPost={prevPost} nextPost={nextPost}>
  <section class="post content-padding">
    <h2 class="title">{frontmatter.title}</h2>
    <div class="tags">
      {
        frontmatter.tags.map(tag => (
          <span class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </span>
        ))
      }
    </div>
    <p class="postDate">Published: {formattedPublishDate}</p>
    <slot />
  </section>
</BaseLayout>
